/VisualStudioProj/GateServer/GateServer/vendor
/VisualStudioProj/GateServer/vendor
/VisualStudioProj/GateServer/script

/VisualStudioProj/GateServer/.vs
/VisualStudioProj/GateServer/bin
/VisualStudioProj/GateServer/bin-int

/VisualStudioProj/GateServer/GateServer/GateServer.vcxproj
/VisualStudioProj/GateServer/GateServer/GateServer.vcxproj.filters
/VisualStudioProj/GateServer/GateServer/GateServer.vcxproj.user
VisualStudioProj/GateServer/GateServer.sln
